.row {
    display: table-row;
}
.column {
    float: left;
    width: 50%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    opacity: 1;
    font-size: 16px;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: #4972ba;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 42px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

#priority-list ul {
    position: absolute;
}
