.row {
    display: table-row;
}
.column {
    /*float: left;*/
    width: 50%;
}

.list-group-item {
    cursor: move;
    cursor: -webkit-grabbing;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
}

#priority-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 10px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.col {
    padding-right: 0;
    margin-right: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 50%;
    position: relative;
    width: 50%;
}

.three-column {
    float: left;
    width: 33%;
}

/* #search {
    display: inline-block;
} */

.leftcolumn {
    width: 30%;
}

.rightcolumn {
    width: 70%;
}

#final1 {
    display: flex;
}

#schoolMap {
    display: flex;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    opacity: 1;
    font-size: 16px;
    /*background-color: #212938; //Dark Mode
    color: #ffffff;*/
}

h1 {
    font-size: 60px;
    font-weight: 300;
    color: #40629f;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 42px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

#priority-list ul {
    position: absolute;
}

.line {
    fill: none;
    stroke: #E4002B;
    stroke-width: 2px;
}